body[id='papers_new'], [id='papers_create'], [id='papers_edit'], [id='papers_update']{
    #error_explanation{
        h2{
            font-size: 1rem;
        }
        li{
            font-size: 0.7rem;
        }
    }
    #paper_title{
        border: none;
        &:focus{
            border: none;
            -webkit-box-shadow: none;
        }
    }
    #submit-form-btn{
        margin-bottom: 5rem;
    }

    #paper_title{
        padding-left: 0px;
        padding-right: 0px;
    }
}